.events-list, .tribe-events-list {
  .tribe-events-loop {
    max-width: 1200px !important;

    .tribe-events-event-image {
      width: 100% !important;
    }
  }
}

.events {
  @media only screen and (min-width: 768px) {
    height: 400px;
  }
  .article_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
  }

  .event_title {
    font-family: $condensed;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
  }

  .event_location {
    font-size: 2.5em;
    font-style: normal;
    font-weight: 100;
  }

  .event_date {
    color: $accent;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid $accent;
    text-decoration: none;

  }
}

.entry p {
  line-height: 1.5em !important;
}
