#page-wrap {
  float: left;
  width: 100%;
}

// Header
.header_logo {
  position: relative;
  z-index: 99;
}

#main {
    padding-top: 0px !important;

    img#logo {
        height: 100px;
    }
}

.video_header, .image_header {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5em;
}

.wp-custom-header {
  position:relative;
  height:0;
  padding-bottom:56.25%;
}


.wp-custom-header iframe,
.wp-custom-header video {
  position: absolute;
	display: block;
  top: 0;
  bottom: 0;
	height: 100%;
	width: 100%;

}

.wp-custom-header img {
  width: 100%;
  height: auto;
}

.video_container {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #444;


}

.image_header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: top;
    max-width: 1600px;
    margin: 0 auto;
}

// Navigation
a#mobile_nav {
    background: transparent !important;
    border: 0px !important;

    span {
        display: none !important;
    }
}

#navigation {
    border-top: 0px !important;
    border-bottom: 0px !important;

    #top-menu-shadow {
        display: none !important;
    }

    #top-menu > ul > li.current-menu-item > a {
        color: $accent!important;
        font-family: $sans-serif;
        font-style: normal;
        font-weight: 100;
    }
}

#search-form {
    margin-right: 10px !important;
}

#bottom-menu-shadow {
    background-position-x: center !important;
}

.sf-with-ul, #mobile_nav {
        .sf-sub-indicator {
            display: none;
        }

        &::after {
        content: "\f0d7";
        font-family: 'fontawesome';
        display:block;
        text-align: center;
        margin-top: -.5em;
        color: $accent;
    }
}

#mobile_nav {
    &.opened::after {
        content: "\f0d8";
        font-family: 'fontawesome';
    }
}

// Body

body {
    font-family: $sans-serif;
}

.home {
    #main-area__front {
        padding-top: 0px !important;
        float: left;
        width: 100%;
    }

    #content_area {
        border-top: 0px !important;
        padding-bottom: 0em;
    }

    .entry {
        border-bottom: 0px;
    }
}

.video_overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);

}

.image_overlay {
  position: absolute;
  width: 100%;
  max-width: 1600px;
  height: 100%;
  max-height: 400px;
  z-index: 2;
  background-color: rgba(0,0,0,0.3);
}

.featured_videos {
  margin: 5em auto !important;
  float: left;
  width: 100%;
}

.video_overlay_content, .image_overlay_content {
  position: relative;
  z-index: 3;
}

h2 {
  &.speaking_topic {
    margin-top: -.5em;
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid $accent;
    font-weight: 100;
    letter-spacing: 1px;
  }
}
.contact {
  .speaking_topics {
    .speaking_topic {
      float: left;
      margin-bottom: 2em;
      padding-bottom: 0em;
      border-bottom: opx solid $lt-color;
    }

    .title {
        font-size: 1.3em;
        font-style: normal;
        font-weight: 700;
        margin-bottom: .5em;
        padding-bottom: .5em;
        text-transform: uppercase;
        border-bottom: 0px;
        letter-spacing: 1px;
    }
  }
}

.speaking_topics {
  .speaking_topic {
    float: left;
    margin-bottom: 6em;
    padding-bottom: 4em;
    border-bottom: 1px solid $lt-color;

    li {
      margin:.5em 0;
    }

    &:last-child {
      border-bottom: 0px;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
  .title {
      font-size: 3em;
      font-style: normal;
      font-weight: 100;
      margin-bottom: .5em;
      padding-bottom: .5em;
      border-bottom: 1px solid $accent;
  }
}

.dual_hero {
    float: left;
    width: 100%;
    padding: 5em 0;
    position: relative;
    z-index: 99;

    .article {
      background-repeat:no-repeat;
      background-size:cover;
      height:470px;

      .overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        background-color: rgba(0,0,0,0.0);
        transition: all .5s;

        .button {
          opacity: 0;
          height: 0;
        }

        &:hover {
          background-color: rgba(0,0,0,0.5);

          .button {
            opacity: 1;
            height: auto;
            margin-top: 2em;

            &:hover {
              background-color: $dark-accent !important;
            }
          }
        }
      }

      &_title {
        font-family: $condensed !important;
        text-transform: uppercase;
        text-align: center;
        color:#fff;
        font-size: 3em;
        padding-bottom: 0;
      }

      &_text {
        width: 80%;
        color: #fff;
        margin-top: 1em;
        margin-bottom: 0;
        text-align: center;
      }

    }
}

.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.0);
  transition: all .5s;

  &:hover {
    background-color: rgba(0,0,0,0.5);
  }

  .button {
    &:hover {
      background-color: $dark-accent !important;
    }
  }
}

.section_title {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1em;

    span {
        border-bottom: 2px solid $accent;
        padding-bottom: .7em;
        display: block;
        width: 330px;
        margin: 0 auto;

        &.light {
            color: $med-color;
        }
    }
}

.about_dr_seddon {
    margin: 5em 0;


    .article_content {
        display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-ms-flex-align: center;
    	-webkit-align-items: center;
    	-webkit-box-align: center;
    	align-items: center;
        height: 360px;
    }
}

.featured_articles {
    background-color: $black;
    background-image: url('library/images/dark-denim-3.png');
    background-repeat: repeat;
    width: 100%;
    float: left;
    padding: 5em 0;
    transition: all .5s;


    .article {
      height: 319px;
      background-size: cover !important;
      border-bottom: 2px solid $accent;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      a:hover {
        text-decoration: none !important;


      }
    }


    img.article_image {
        border-bottom: 4px solid $accent;
        margin-bottom: 2.5em;
    }

    &-wrap {
        float: left;
        width: 100%;

        .button {
          height: 0;
          opacity: 0;
          margin:0;
          padding: 0;
          transition: all .5s;
        }

        a:hover {
          text-decoration: none !important;

          .button {
            height: auto;
            margin-top:.5em;
            padding: 1em 2em;
            opacity: 1;

          }
        }

    }

    .article:nth-child(3) {
        margin-right: 0;
    }
}
.wrap {

    max-width: 1280px;
    margin: 0 auto;

}

img.article_image {

        width: 100%;
        height: auto;;

}

.article_title {
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 1em;
    width: 100%;

    .featured_articles & {
      padding-bottom: .5em;
      font-size: 2em;
      line-height: 2em;
      font-family: $condensed;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      text-decoration: none !important;
    }
}

.article_text {
    font-size: 1.5em;
    font-weight: 100;
    line-height: 1.5em;
    margin-bottom: 1.5em;

    .top_cta & {
      text-align: center;
      max-width: 960px;
      margin: 2.5em auto;
      line-height: 2em;

      p {
        line-height: 1.8em;
        margin:2em 0;
      }
    }

    .featured_articles & {
      color: #fff;
    }
}

.top_cta {
  margin:2.5em 0;
}

//Email Pop Up

#mc_embed_signup_scroll {
  h2 {
    font-family: $condensed !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 1px;
  }

  .mc-field-group {
    margin-top: 2em;

    br {
      display: none;
    }
    input {
      width: 90%;
      padding: 1em;
      border: 1px solid $accent;
      border-radius: 3px;
    }
  }
}
#popslide {
  &.rhea_popup {
    background-color: rgba(255,255,255,0.9);
    border-radius: 0 5px 5px 0;
    bottom: 2em !important;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.6);
  }

  .popslide-content {
    padding-left: 40px;
  }

  .popslide-close {
    @include btn;
    color: #fff !important;
    border-radius: 0 5px 5px 0;

    span {
      height: 100% !important;
    }

    &:hover {
      text-shadow: -1px -1px 1px $dark-accent;
      background-color: $dark-accent;
    }
  }
}


// Quotes
.quote_slider {
    margin-top: -30px;

    #text-slider {
        text-align: center;
        font-size: 22px;
        font-weight: 600;

        span {
            font-weight: 200;
            font-size: 24px;
            line-height: 34px;
        }

        #text-slider-controls {
            display: none;
        }
    }
}

.quote_slider-wrap {
    margin:5em auto !important;
}

//Contact Form
.wpcf7 {
  label, .label {
    font-family: $sans-serif;
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 1em;
    display: block;
    float: left;
    width: 100%;
  }

  input:focus, textarea:focus {
    background: $lt-color;
    border: 0;
    border: 1px solid $lt-color !important;
  }
  input[type=text], input.text, input.title, textarea, select, input {
    width: 95%;
    padding: 1em;
    padding-right: 0;
  }

  .select {
    width: 100%;
    height: 40px;
  }

  .inquiry_type {
    padding: 1em 0;
    margin: 1em 0;
  }

  .wpcf7-list-item-label {
    font-family: $condensed;
    font-weight: bold;
    display: inline-block;
    padding-top: .5em;
    font-size: 1.2em;
  }

  .wpcf7-list-item {
    &.first {
      margin: 0;
    }
  }

  .contact-radio {
    padding: 1em 0;
    float: left;
  }


}

// Gallery
.gallery_image {
  height: 250px;
  overflow: hidden;
  margin-bottom: 1em;

  &:nth-child(3n+3) {
    margin-right: 0;

  }

  &:nth-child(3n+4) {
    clear: left;
  }
}

.gallery_video {
  &:nth-child(2n+2) {
    margin-right: 0;
  }
}

.gallery_row {
  float: left;
  clear: both;
  margin-top: 4em;
}


// Footer

#footer-widgets {
    max-width: 960px;
    margin: 0 auto;
}
