// Header
#main {
    padding-top: 0px !important;

    img#logo {
        height: 100px;
    }
}

.video_header, .image_header {
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5em;
}

.image_header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-y: top;
}

// Navigation
a#mobile_nav {
    background: transparent !important;
    border: 0px !important;

    span {
        display: none !important;
    }
}

#navigation {
    border-top: 0px !important;
    border-bottom: 0px !important;

    #top-menu-shadow {
        display: none !important;
    }

    #top-menu > ul > li.current-menu-item > a {
        color: $accent!important;
        font-family: $sans-serif;
        font-style: normal;
        font-weight: 100;
    }
}

#search-form {
    margin-right: 10px !important;
}

#bottom-menu-shadow {
    background-position-x: center !important;
}

.sf-with-ul, #mobile_nav {
        .sf-sub-indicator {
            display: none;
        }

        &::after {
        content: "\f0d7";
        font-family: 'fontawesome';
        display:block;
        text-align: center;
        margin-top: -.5em;
        color: $accent;
    }
}

#mobile_nav {
    &.opened::after {
        content: "\f0d8";
        font-family: 'fontawesome';
    }
}

// Body

body {
    font-family: $sans-serif;
}

.home {
    #main-area {
        padding-top: 0px !important;
    }

    #content_area {
        border-top: 0px !important;
        padding-bottom: 0em;
    }

    .entry {
        border-bottom: 0px;
    }
}

.dual_hero {
    float: left;
    width: 100%;
    padding: 5em 0;
    position: relative;
    z-index: 99;

    .article {
      background-repeat:no-repeat;
      background-size:cover;
      height:470px;

      .overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        opacity: 0;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        transition: all .5s;

        &:hover {
          opacity: 1;
        }
      }

      &_title {
        font-family: $condensed !important;
        text-transform: uppercase;
        text-align: center;
        color:#fff;
        font-size: 3em;
      }

      &_text {
        width: 80%;
        color: #fff;
        margin-bottom: 2em;
        text-align: center;
      }

    }
}

.section_title {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1em;

    span {
        border-bottom: 2px solid $accent;
        padding-bottom: .7em;
        display: block;
        width: 330px;
        margin: 0 auto;

        &.light {
            color: $med-color;
        }
    }
}

.about_dr_seddon {
    margin: 5em 0;


    .article_content {
        display: -ms-flexbox;
    	display: -webkit-flex;
    	display: flex;
    	-ms-flex-align: center;
    	-webkit-align-items: center;
    	-webkit-box-align: center;
    	align-items: center;
        height: 360px;
    }
}

.featured_articles {
    background-color: $black;
    background-image: url('library/images/dark-denim-3.png');
    background-repeat: repeat;
    width: 100%;
    float: left;
    padding: 5em 0;

    img.article_image {
        border-bottom: 4px solid $accent;
        margin-bottom: 2.5em;
    }

    &-wrap {
        float: left;
        width: 100%;
    }

    .article:nth-child(3) {
        margin-right: 0;
    }
}

.wrap {

    max-width: 1280px;
    margin: 0 auto;

}

img.article_image {

        width: 100%;
        height: auto;;

}

.article_title {
    font-weight: 600;
    letter-spacing: 1px;
    padding-bottom: 1em;
    width: 100%;

    .featured_articles & {
      padding-bottom: .5em;
      font-size: 1.5em;
      font-family: $condensed;
      color: #fff;
    }
}

.article_text {
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
    margin-bottom: 1.5em;

    .top_cta & {
      text-align: center;
      max-width: 960px;
      margin: 2.5em auto;
    }

    .featured_articles & {
      color: #fff;
    }
}

.top_cta {
  margin:2.5em 0;
}



// Quotes
.quote_slider {
    margin-top: -30px;

    #text-slider {
        text-align: center;
        font-size: 22px;
        font-weight: 600;

        span {
            font-weight: 200;
            font-size: 24px;
            line-height: 34px;
        }

        #text-slider-controls {
            display: none;
        }
    }
}

.quote_slider-wrap {
    margin:5em 0;
}


// Footer

#footer-widgets {
    max-width: 960px;
    margin: 0 auto;
}
