//typography

$sans-serif:        "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$condensed:        "Open Sans Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Libre Baskerville", Georgia, Cambria, Times New Roman, Times, serif;


h1,.h1,h2,.h2,h3,.h3,h4,.h4 {
    font-family: $sans-serif !important;
}

.hero_title {
    color: rgba(255,255,255,0.7);
    font-size: 80px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $condensed !important;
    margin-bottom: -.2em;
    padding: 0;
    padding-left: .1em;
}

.hero_text {
    max-width: 1080px;
    width: 95%;
    margin:2.5em auto 0 auto;
    color: #fff;
    font-weight: 300;
    font-size: 1.5em;
    text-align: left;
    line-height: 1.5em;
}


.video_title {
  font-family: $condensed;
  font-weight: bold;
  text-transform: uppercase;
}
