//site colors//
$black:         #2b2b2b;

$dark-color:    #A0A0A0;

$med-color:     #D9D9DC;

$lt-color:      #F2F2F2;

$accent:        #00CCFF;

$dark-accent:   darken($accent, 10%);

$darker-accent: darken($accent, 20%);

$lt-accent:     lighten($accent,20%);


//buttons//

button, .button, .readmore span {
  padding: 1em 2em;
  border-radius: 3px;
  background-color: $accent;
  color: #fff;
  border: 0px solid $dark-accent;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 200px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px $dark-accent;
  box-shadow: 1px 1px 0 $dark-accent, 2px 2px 0 $darker-accent;
  transition: all .5s;

  &:hover {
    text-shadow: -1px -1px 1px $dark-accent;
    box-shadow: 1px 1px 0 $darker-accent;
    background-color: $dark-accent;
    text-decoration: none;
  }

  &:active {
    background-color: $dark-accent;
    box-shadow: -1px -1px 0 $dark-accent, -2px -2px 0 $darker-accent;
  }
}

.readmore {
    background-image: none !important;


    span {
        background-image: none !important;
        background-color: $accent !important;
        padding:.5em 1em !important;
        min-width: 100px !important;
    }
}
