#main {
    .container {
        width: 1200px !important;
    }
}

.container {
    width: 1020px !important;
}

.home {
    #main-area__front {
        margin: 0 auto;
    }

    #content_area {
        max-width: 1200px !important;
    }
}

#main-area {
    max-width: 1020px;
    margin: 0 auto;
}

#content_area {
    max-width: 1020px;
}

.header_logo {
    float: left;
}

#top-menu {
    float: right !important;
}
