// Header

#top-menu {
    padding-top: 25px !important;
}

#search-form {
    margin-top: 16px;
}

.video_header, .image_header {
    height: 600px;
}

.hero_title {
  text-align: center;
  font-size: 100px;
  padding-left: 0;
}

.hero_text {
    width: 80% !important;
    text-align: center !important;
}

.image_overlay {
  max-height: 600px;
}

.dual_hero {
  padding: 5em 0;
}

.featured_videos {
  margin: 5em auto !important;
  float: left;
  width: 100%;
}
